<div class="container">
  <body>
    <div class="card">
      <div class="card-header text-center" style="background-color: #f8f9c5">
        Carga de productos FAKER
      </div>
      <div class="card-body" style="background-color: #ffcef8">
        <table class="table table-dark">
          <caption></caption>
          <tbody>
            <tr>
              <th>#</th>
              <th>Producto</th>
              <th>Precio</th>
              <th>Avatar</th>
            </tr>
            {{#each array}}
              <tr>
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{price}}</td>
                <td>{{thumbnail}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <form action="/" method="get">      
      <button type="submit" class="btn btn-danger">Principal</button>
    </form>
  </body>
</div>