<table>
  <thead>
    <th>Nombre</th>
    <th>Precio</th>
  </thead>
  <tbody>
    {{#each productos}}
      <tr>
        <td>{{nombre}}</td>
        <td>{{precio}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>