<form method="POST" onsubmit="" action="/login" id="login">
  <div class="container text-center mt-2 border shadow-lg p-3 mb-5 bg-body rounded">
    <div class="card">
      <div class="card-header text-center" style="background-color: #949632">
        Login
      </div>
      <div class="card-body" style="background-color: #ffcef8">
        <div class="form-outline mb-4">
          <input class="form-control" type="text" id="username" name="username" placeholder="Email" required />
        </div>
        <div class="form-outline mb-4">
          <input class="form-control" type="text" id="pass" name="password" placeholder="password" required />
        </div>
        <button type="submit" value="login" class="btn btn-dark">Login</button>
        <br />
        <a href="/register" class="btn btn-warning my-1">Register</a>
      </div>
    </div>
  </div>
</form>