<div class="my-4 container text-center border shadow">
  <h1 class="text-center my-2 uppercase"> Register Error </h1>
  <p class="my-2">El email que quiere registrar ya existe </p>
  <p><a href="/register">Volver</a></p>
</div>